doctype html
html(xmlns:wb='http://open.weibo.com/wb')
    head
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
        title #{activity}
        meta(charset='utf8')
        meta(name='keywords', content='洋葱数学，初中数学，数学，数学学习，微课，微视频，翻转课堂')
        meta(name='description' content='洋葱数学让每个学生“一学就懂”！将趣味短视频与习题结合，轻松进行个性化在线学习，每天5分钟，赶快体验！')
        link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
        meta(name='viewport', content='width=device-width, maximum-scale=1, user-scalable=no')
        // inject:css
        // endinject
    body.pc(post-point="enterLandingPage")
        #pcluodi
            .container.head-container
                nav.navbar.navbar-static-top
                    .navbar-header
                        a.navbar-brand(href='http://yangcong345.com' post-point="clickLandingYCLogo")
                            img(src='07_Logo.svg')
                    .collapse.navbar-collapse
                        ul.nav.navbar-nav.navbar-right
                            li
                                a#signup(href='http://yangcong345.com/signup' post-point="clickLandingPageSignUp") &#x6CE8;&#x518C;
                            li
                                a#login(href='http://yangcong345.com/login' post-point="clickLandingPageLogin") &#x767B;&#x5F55;

            .video-zone
                .video-info
                    .topic-logo
                        img(src=topicIcon)
                    .topic-info
                        .topic-name #{chapter}
                        .activity-name #{activity}
                    .share-zone
                        .share-label 分享
                        #share-qq.share-icon(onclick="createShareUrl('qq', '#{task}', '#{topicDesc}')",post-point="clickLandingShareQQ")
                            img(src='mobile-qq.png')
                        #share-qzone.share-icon(onclick="createShareUrl('qzone', '#{task}', '#{topicDesc}')",post-point="clickLandingShareQzone")
                            img(src='mobile-qzone.png')
                        #share-weibo.share-icon(onclick="createShareUrl('weibo', '#{task}', '#{topicDesc}')",post-point="clickLandingShareWeibo")
                            img(src='mobile-weibo.png')
                .video-player
                    video#pc-video(src=video, width='100%', height='100%', controls='controls')
            .intro-zone
                img(src='sideimg.png')
                .intro-text 看动画，也是学数学
                .intro-text 打游戏，也是做练习
                .redirect-btn(post-point='clickLandingShareSideBtn', onclick='window.location="http://yangcong345.com/signup"') 更多免费视频
            .bottom-bg(post-point="clickBottomBackgroundLogin",href="http://yangcong345.com/login")
        #mobileluodi(style='display: none')
            .mobile-banner
                .mobile-logo
                    img(src="mobile-logo.png")
                .mobile-slogan 让数学变简单
            .mobile-hyper-zone
                //video#mobile-video(src=video, onplay='$(".mejs-fullscreen-button").click();', poster=actThumbnail, width='100%')
                video#mobile-video(src=video, poster=actThumbnail, controls='controls', width='100%')
                .mobile-title
                    span #{activity}
                .mobile-sharing
                    .sharing-text
                        span 分享给小伙伴
                    ul
                        li
                            a.switch-sharing(href='javascript: void(0)', post-point='clickLandingShareQQ' onclick='createShareUrl("qq", "#{task}", "#{topicDesc}")')
                                img.share-logo(src='mobile-qq.png')
                        li
                            a.switch-sharing(href='javascript: void(0)', post-point='clickLandingShareQZone' onclick='createShareUrl("qzone", "#{task}", "#{topicDesc}")')
                                img.share-logo(src='mobile-qzone.png')
                        li
                            a.switch-sharing(href='javascript: void(0)', post-point='clickLandingShareWeibo' onclick='createShareUrl("weibo", "#{task}", "#{topicDesc}")')
                                img.share-logo(src='mobile-weibo.png')
            .mobile-bottom
                .mobile-app-icon
                    img(src="mobile-appicon.png")
                .mobile-app-text
                    .mobile-app-main-text 下载 洋葱数学
                    .mobile-app-assist-text 看更多优质初中视频
                .mobile-app-download(onclick="redirectDownloadApp()",post-point='clickMobileDownloadBtn') 下载应用



        // inject:js
        // endinject